body
{
    background-color: rgba(50,50,50,0.5);
}
h1
{
    font-size:3rem;
    padding:10px 0;
    color:white;
    font-weight:bolder;
    text-shadow:0 0 10px black; /*콤마 없이 띄워쓰기로 구별함*/
    margin-bottom:50px;
}
h3
{
    font-size:1.5rem;
    padding:10px 0;
    margin-left:30px;
}
h1, #todotext
{
    text-align:center;
}
#todotext>#inputtext
{
    border:none;
    border-bottom:white 2px solid;
    background-color:transparent;
    color:white;
}
#todotext>#inputtext:focus /*커서를 가져다 댔을 시 스타일*/
{
    outline:none; /*검정색 테두리가 나오는데 이것을 off해서 효과 없앰*/
}
#todotext>#inputtext::placeholder /*입력값이 없으면 나오는 양식에 대한 스타일*/
{
    color:white;
    text-align:center;
}
#todotext>#todobutton /*버튼 스타일*/
{
    border:none;
    border-radius:20px;
    padding:5px 10px;
}
#list /*출력될 리스트에 대한 스타일*/
{
    margin:auto;
    max-width:400px;
}
#list>li
{
    clear:both;
    border-bottom:1px white solid;
    padding:5px 0;
}
#list>li>button
{
    float:right; /*버튼 단독으로 오른쪽에 띄워놓음*/
    border-radius:20px;
    border:none;
    padding:3px 7px;
}
#list>li>button:hover , #todotext>input[type="submit"]
{
    cursor:pointer;
}